name: Update Astro Token PHP
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  update-link:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Run Astro Script
        run: |
          php astro.php
          echo "Semakan hasil m3u8:"
          cat astro.m3u8

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git pull --rebase origin main
          git add astro.m3u8
          git commit -m "Update via PHP $(date)" || exit 0
          git push origin main
          
